/*
    font-family: 'Martel', serif;
    font-family: 'Mulish', sans-serif;
*/


/*---------------- Universal reset ----------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

a {
    text-decoration: none;
    padding: 0.2rem;
}

/*---------------- Utility styles ----------------*/
.padded-1 {
    padding: 1rem;
}

.bg-light {
    background-color: lightgray;
}

/*---------------- Header and footer styles ----------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Martel', serif;
}

header,
footer,
section {
    padding: 5%;
    border: 1px solid lightgray;
}

/*---------------- Specific classes styles ----------------*/
.intro {
    text-transform: uppercase;
    background-color: lightgrey;
}

.tag {
    border: 1px solid;
    padding: 0.2rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3px;
}

/*---------------- Background image styles ----------------*/
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.square {
    padding-bottom: 100%
}

.landscape {
    padding-bottom: 60%;
}